name: Python application test with Github Actions

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      -   name: Checkout Repository
          uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: List Files in Directory
        run:  |
         ls -la

      - name: Install dependencies
        run:  |
          pip install -r requirements.txt

      
