name: Python application test with Github Actions

on:
  push:
    branches:
      - main

  # to run this wokrflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      -users: actions/checkout@v2
        with:
          fetch-depth:0
      -name: Add remote
        env:
          HF: ${{ secrets.github-demo }}
        run: git remote add space https://huggingface.co/spaces/msbeigi/MLOpsDemo
      -name: Push to hub
        env:
          HF: ${{ secrets.github-demo }}
        run: git push --force https://huggingface.co/spaces/msbeigi/MLOpsDemo main



