name: Python application test with Github Actions

on:
  push:
    branches:
      - main

  # to run this wokrflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "msbeigi"
          git config user.email "msbeigi@gmail.com"
      # - name: Add remote
        # env:
          # HF: ${{ secrets.HG_ML_DEMO }}
        # run: git remote add space https://huggingface.co/spaces/msbeigi/MLOpsDemo
      - name: Push to hub
        env:
          HF: ${{ secrets.HG_ML_DEMO }}
        run: |
          git remote add space https://huggingface.co/spaces/msbeigi/MLOpsDemo
          git push --force https://huggingface.co/spaces/msbeigi/MLOpsDemo main



