name: Python application test with Github Actions

on:
  push:
    branches:
      - main

  # to run this wokrflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
                
      - name: Add remote 
        env:
          HF: ${{ secrets.HG_ML_DEMO }}
          run: git remote add space https://msbeigi:$HF@huggingface.co/spaces/msbeigi/MLOpsDemo
      - name: Push to hub
        env:
          HF: ${{ secrets.HG_ML_DEMO }}
        run: |          
          run: git push --force https://msbeigi:$HF@huggingface.co/spaces/msbeigi/MLOpsDemo main
  

